@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input_submit:hover {
  background-color: #388ae2;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.container {
  width: 95%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 47.5%;
  padding: 15px;
  background-color: rgb(50, 195, 205);
}

.dragactive {
  background-color: #f0f0f0;
  border: 2px dashed rgba(150, 150, 150, 0.5);
  box-shadow: 0 10px 30px rgba(150, 150, 150, 0.2);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.dragcomplete {
  background-color: #e6e6e6;
  border: 2px solid rgba(100, 100, 100, 0.5);
  box-shadow: 0 10px 30px rgba(100, 100, 100, 0.3);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.drag {
  box-shadow: 0 0 20px black;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
}
